/* css styles */

paperbtn {
    display: block;
    background-color: #4477AA;
    color: #ffffff;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #739dc7;
}